{% doc %}
  Copyright © 2025 Archetype Themes LP. All rights reserved.

  Horizontal rule separator for visually dividing product page sections.

  @param {object} [block] - Block object

  @example
  {% render 'block.product-separator', block: block %}
{% enddoc %}

<div {{ block.shopify_attributes }}><hr></div>
