<style>
    .back-to-ff-link 
    {
        position: fixed !important;
        bottom: 22px;
        right: 22px;
        z-index: 999999;
        font-size: 13px;
        padding: 10px 16px;
        border-radius: 50px;
        background: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        backdrop-filter: blur(12px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
        transition: opacity 0.25s ease, transform 0.25s ease;
        color: #ff4f7a;
        text-decoration: none;
    }
   
</style>

<div>
    <a href="/pages/fyxx-friday" class="back-to-ff-link"> ← Go to Fyxx Friday </a>
</div>

{% schema %}
{
  "name": "Go to Black Friday",
  "settings": []
}
{% endschema %}

