<div class="bf-header-icons">
  <a href="{{ routes.account_url }}" class="bf-icon">
    {% render 'element.icon', name: 'user' %}
  </a>

  <a href="/cart" class="bf-icon cart-link">
    {% render 'element.icon', name: 'cart' %}
    <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">
      <span class="cart-link__bubble-num">{{ cart.item_count }}</span>
    </span>
  </a>
</div>


<div id="fyxx-black-friday-landing">
  {{ section.settings.custom_code }}
</div>

{% schema %}
{
  "name": "Fyxx Black Friday Landing",
  "settings": [
    {
      "type": "html",
      "id": "custom_code",
      "label": "Landing Page Code"
    }
  ],
  "presets": [
    {
      "name": "Fyxx Black Friday Landing"
    }
  ]
}
{% endschema %}