
<div id="christmas-landing">
  {{ section.settings.custom_code }}
</div>

{% schema %}
{
  "name": "Christmas Landing Page",
  "settings": [
    {
      "type": "html",
      "id": "custom_code",
      "label": "Landing Page Code"
    }
  ],
  "presets": [
    {
      "name": "Christmas Landing Page"
    }
  ]
}
{% endschema %}